[run]
omit =
    core/settings.py
    flowerconfig.py
    core/asgi.py
    core/celery.py
    core/common/healthcheck/*
    core/wsgi.py
    */v1_dump/*
    */management/commands/*
    */migrations/*
    */documents.py
    core/common/search.py
    */es_normalizers.py
    */feeds.py
    *test*
    core/middlewares/*
    core/v1_importers/*
    *.css
    *.html
concurrency=multiprocessing