[run]
omit =
    core/settings.py
    flowerconfig.py
    core/asgi.py
    core/celery.py
    core/common/healthcheck/*
    core/reports/*
    */reports.py
    core/wsgi.py
    */management/commands/*
    */migrations/*
    */tests/factories.py
    */documents.py
    core/common/search.py
    core/common/errbit.py
    */es_normalizers.py
    */feeds.py
    *test*
    core/middlewares/*
    *.css
    *.html
concurrency=multiprocessing
