venv
.git*
db/*.sqlite3
db/*.sqlite3-journal
log/*
tmp/*
Dockerfile
README.rdoc
README.md
**/__pycache__/*
__pycache__/*
.pytest_cache/*
**/*.pyc
.coveragerc
.idea/*
.circleci/*
.DS_Store
*.rdb
*.dump
*.sql
*.dmp
*.db
src/*
**/test*.py

