[MESSAGES CONTROL]
disable=missing-docstring,too-few-public-methods,no-member,too-many-ancestors,attribute-defined-outside-init,fixme,broad-except,import-outside-toplevel,too-many-instance-attributes,unsupported-membership-test
[MASTER]
ignore=migrations,fixtures,scripts,celeryconf,commands
[FORMAT]
max-line-length=120
[DESIGN]
max-attributes=12
