Django==3.2.7
psycopg2==2.9.1
gunicorn==20.1.0 #production server
whitenoise==5.3.0 #serving swagger static files
djangorestframework==3.12.4
pylint==2.10.2
pydash==5.0.2
django-cors-headers==3.8.0
pyyaml==5.4.1
colour_runner==0.1.1
boto3==1.18.42
moto==2.2.6
python-dateutil==2.8.2
requests==2.26.0
factory_boy==3.2.0
# Celery
celery[redis]==4.4.7
celery_once==3.0.1
flower==0.9.5
redis==3.5.3
kombu==4.6.11
django-elasticsearch-dsl==7.2.0
drf-yasg==1.20.0
git+https://github.com/snyaggarwal/django-queryset-csv
git+https://github.com/OpenConceptLab/ocldev
coverage==5.5
tblib==1.7.0
django-ordered-model==3.4.3
django-health-check>=3.16.2
markdown==3.3.4
mock==4.0.3