Django>=3.0.7
psycopg2
djangorestframework>=3.9.1
pylint
pydash
django-cors-headers
pyyaml
colour_runner
boto3
moto
git+https://github.com/snyaggarwal/django-queryset-csv
six
python-dateutil
requests
factory_boy
celery
celery_once==0.1.4
flower
redis>=2.10.5
celery[redis]==3.1.17
kombu
