<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<div>
    <div>
        <p>Hi {{ user.username }},</p>
        <p>
            You're receiving this e-mail because you or someone else has requested a password for your user account at {{ web_url }}.
            It can be safely ignored if you did not request a password reset. Click the link below to reset your password.
        </p>
        <p>
            <a href="{{url}}">Reset Password</a>
        </p>
        <p>
            In case you forgot, your username is {{ user.username }}.
        </p>
    </div>
    <div>
        <p>
            Thanks for using our site!
        </p>
    </div>
</div>
</body>
</html>
